* {

}

body {

}

#HeaderWrapper {
  width: 100%;
}

.logo {
  padding: 10px;
  margin-right: 10px;
  font-size: 40px;
  font-family: roboto;
}

.tagline {
  font-size: 10px;
  margin-top: 50px;
  margin-left: -123px;
  font-family: monospace;
}

.nav-wrapper {
  margin-left: 100px;
  margin-top: 15px;
}

.product {
  background: white;
  height: 300px;
  border: 1px dotted #ccc;
  position: relative;
}

.product-image-div {


}

.product-img {
  width: auto;
  height : auto;
  max-height: 90% !important;
  max-width: 90% !important;
  margin:auto;
  display:block;
}

.product-details {
  padding-top: 20px;
}

.product-btn {
  position: absolute;
  bottom:0;
  right:0;
}

.product-btn button {
  margin-bottom: 5px;
}
