<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
    <!-- Controllers -->
    <script src=""></script>
</head>

<body>
    <div id="header-wrapper" ng-controller="HeaderCtrl">
        <span class="logo pull-left">{{ appDetails.title }}</span>
        <span class="tagline pull-left">{{ appDetails.tagline }}</span>
        <nav class="nav-wrapper pull-right">
            <ul class="nav nav-pills">
                <li ng-class="getClass('/products')"><a href="#/products">Books</a></li>
                <li ng-class="getClass('/cart')"><a href="#/cart">Cart</a></li>
            </ul>
        </nav>
    </div>

    <div ng-view></div>

    <footer>
    </footer>
    <!-- Modules -->
    <script src="js/app.js"></script>
</body>

</html>
