<div id="ProductListWrapper">
  <p>Please click buy button in order to complete a purchase.</p>
    <div>
        <ul class="row list-group list-unstyled">
            <li class="col-md-6 product-li" ng-repeat="product in products">
                <div class="row product">
                    <div class="col-sm-3 product-img-div">
                        <img src="img/{{ product.imgUrl }}" class="product-img" alt="product_img">
                    </div>
                    <div class="col-sm-6 product-details">
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.price }}</p>
                        <ul>
                            <li>Rating: {{ product.rating }}</li>
                            <li>Binding: {{ product.binding }}</li>
                            <li>Publisher: {{ product.publisher }}</li>
                            <li>Released: {{ product.releaseDate }}</li>
                        </ul>
                        <p>{{ product.details }}</p>
                    </div>
                    <div class="col-sm-3 product-btn">
                        <button class="btn btn-default pull-right" ng-click="buy(product)">Buy</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
